*{
    font-family: sans-serif;
    color: #120C52;
}

.keys{  
    display: grid;
    grid-template-columns: 150px 150px 150px;  
    grid-template-rows: 150px 150px 150px;           
}

.key{
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 25px;
}

.box{
    margin-top: -20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 450px;
    background-color: #9E9354;
}

.key.active{
    border-color: #615C9E;
}

input{
    border-radius: 20px;
    border-style: solid;
    border-color: #120C52;
    background-color: transparent;
    color: #120C52;
    
    padding-left: 15px;
    height: 30px;
    width: 250px;
    border-end-end-radius: 0;
}

input::placeholder{
    color: #120C52;
}

button{
    border-radius: 20px;
    border-style: solid;
    border-color: #120C52;
    height: 30px;
    width: 50px; 
    border-top-left-radius: 0;  
    background-color: transparent; 
}

hr{
    border-color: #524500;
}

body{
    background-color: #9E9354;

}