.main-box{
    display: grid;
    grid-template-columns: 25% 50% 25%;      
}

.lista li{
    cursor: pointer;
}

.lista li:hover {
    background: #113DF9;
    color: azure;
}

.lista a{
    text-decoration: none;
    color:#282c33;
    width: 100%;
}

.lista a:hover{
    background: #113DF9;
    color: azure;
}